<% content_for :title, "Авторські права — Вони голосують для тебе" %>
<div class="jumbotron">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>
<div class="container">
  <%= render "help/licencing" %>
</div>

