
  <% content_for :title, "Мій кабінет — Як Голосує Твій Депутат?" %>

  <div id="first-block" class="container people">
    <h1 class="text-uppercase center-justified text-xs-center">Мій кабінет</h1>
  </div>

      <div class="container">
        <div id="reg">
          <%= render('edit') %>
        </div>

<!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->


</div>