<div id="first-block" class="container">
  <div class="row justify-content-lg-center">
    <h1 class="text-uppercase center-justified text-xs-center">РЕЄСТРАЦІЯ</h1>
  </div>
</div>
<div class="container-fluid team">
  <div class="container">
    <div class="row">
      <p>
        Для завершення реєстрації перевір вказаний email. Ми надіслали лист з посиланням на активацію облікового запису.
      </p>
      <p>
        Зазвичай лист надходить миттєво, але інколи це може зайняти пару хвилин або лист може потрапити в спам.
      </p>



    </div>
  </div>
</div>