<div class="container">
  <%= render "header", mp: @mp %>
  <div id="det" class="container">
    <h2 class="center-justified text-xs-center text-uppercase background-line">Деталі голосувань</h2>

    <%= render "detal" %>
  </div>

</div>