<div class="container">
  <%= render "header", mp: @mp %>
  <h2 class="center-justified text-xs-center text-uppercase background-line">Деталі голосувань</h2>
  <div id="det" class="container">
    <%= render "detal" %>
  </div>

</div>