<% content_for :title,  "Друзі #{ @mp.full_name } — Як Голосує Твій Депутат? " %>
<div class="container">
<%= render "header", mp: @mp %>
<h2>Друзі по голосуванню</h2>
<p>Тут перераховані депутати, що голосують подібно, або ну відвідують засідання. Вимірюється від 0% (ніколи так не голосував) до 100% (завжди
  голосував так само). Таким чином, можна виявити неочікуваний зв’язок між політичними позиціями депутатів.</p>
<%= render "friends", friends: @friends, mp: @mp  %>
</div>