<script>
    //search
    window.onload = function() {
        var availableTags = [
            <% @mp.each do |m| %>
            "<%= m.full_name %>",
            <% end %>
        ];
        $( "#mp" ).autocomplete({
            source: availableTags
        });
        $.ajax({
            type: "GET",
            url: "<%= people_path(sort: params[:sort], filter: params[:filter], format: :js) %>"
        })  ;
    };
</script>

<% content_for :title, "Депутати — Як Голосує Твій Депутат?" %>

<div id="first-block" class="container people">

  <h1 class="text-uppercase center-justified">Депутати львівської облради</h1>

  <div class="col-12">
    <%= form_tag(search_mp_path, method: "get", class: "col-8 form-inline push-2", id: "search-main" ) do  %>
                          <span class="fa-stack">
                            <i class="fa fa-search fa-stack-1x fa-inverse" aria-hidden="true"></i>
                          </span>
        <%= text_field_tag(:mp, params[:mp] , class: "form-control mr-sm-2" , placeholder: "напр., Адамик Петро Михайлович" ) %>
        <i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i>
    <% end %>
  </div>
  <div id="profile"></div>



</div>
