<% content_for :title, "Голосування — Як Голосує Твій Депутат?" %>

<div id="first-block" class="container people">
  <h1 class="text-uppercase center-justified text-xs-center">голосування <%= Settings.name_rada %></h1>
  <div class="row">
    <%= form_tag(divisions_path, method: "get", class: "col-8 form-inline mt-2 mt-md-0 push-2", id: "search-main", remote: true  ) do  %>
                          <span class="fa-stack">
                            <i class="fa fa-search fa-stack-1x fa-inverse" aria-hidden="true"></i>
                          </span>
        <%= text_field_tag(:divisions, params[:divisions] , class: "form-control mr-sm-2" , placeholder: "Шукати по заголовку" ) %>
        <i class="fa fa-chevron-down arrow-icon" aria-hidden="true"></i>
    <% end %>
  </div>
  <div id="division">
    <%= render(:partial => 'index', :locals => {:divisions => @divisions}) %>
  </div>
</div>
