<% content_for :title, "Вони голосують для тебе — Як Голосує Твій Депутат?" %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1 class="banner-heading">
        Як депутати голосують за питання, які важливі для тебе?
      </h1>
    </div>

    <div class="row">
      <p class="text-center">Знайди свого депутата за ім’ям</p>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= form_tag(search_mp_path, method: "get", ) do  %>
            <div class="input-group">
              <%= select_tag(:mp, options_for_select(@mps), :include_blank => 'наприклад: Андрій Садовий Іванович', "data-live-search": true , "data-width":"auto", class: "selectpicker") %>
              <span class="input-group-btn">
                  <%= submit_tag("Пошук", class: "btn btn-primary") %>
              </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">

</div>
