<div id="first-block" class="container center-justified">

  <a id="logo" class="col-4 navbar-brand text-uppercase logo" href="/">
    <p><i class="fa fa-circle fa-stack-1x"></i>
      <span class="first-word">Lviv</span>.Rada4You.org</p>
  </a>

  <div class="errors">
    <h1 class="text-uppercase">технічні роботи</h1>

    <p>Перепрошуємо за тимчасові незручності.</p>
    <p>Ми повернемося до вас за ХХ годин.</p>

  </div>

</div>
