<div id="first-block" class="container">

  <div class="notfound center-justified">
    <h1 class="text-uppercase">сторінка не знайдена</h1>

    <p>404</p>

    <div class="col-12"><%= link_to "<h4 class='text-uppercase text-center'>повернутись на головну <i class='fa fa-arrow-circle-right' aria-hidden='true'></i></h4>".html_safe, root_path  %></div>
  </div>

</div>
