<% content_for :title, 'Про проект— Вони голосують для тебе' %>

<div id="first-block" class="container">

  <div class="col-12 about">
    <h1 class="text-uppercase center-justified text-xs-center">Про проект</h1>

    <div>

    </div>

  </div>

  <div class="col-12 team">
    <h2 class="text-uppercase center-justified text-xs-center">Команда</h2>


  </div>

  <div class="col-12 partners">
    <h2 class="text-uppercase center-justified text-xs-center">Партнери</h2>

    <div>текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст</div>

  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">Як допомогти</h2>

    <div>текст</div>

  </div>



</div>

