<% content_for :title, 'Про проект— Вони голосують для тебе' %>
<div class="jumbotron">
  <div class="container">
    <h1>Про проект</h1>
    <p>Забудь, що говорять політики. Справжню вагу мають лише їхні дії. Слідкуй за тим, як депутати голосують і
      дізнавайся про їхню справжню позицію щодо питань, які впливають на нас усіх.</p>
  </div>
</div>
<div class="container">
  <%= render 'about/index' %>
</div>

