<% content_for :title, 'Про проект— Вони голосують для тебе' %>
<style>
#first-block h1{
  color: #252525;
  font-size:24px;
  line-height: 24px;
  font-family: GothaProBol;
}
#first-block h2 {
font-family: GothaProMed;
font-size: 18px;
line-height:18px;
}
#first-block h2::before{
border-top: 4px solid #000;
content: "";
margin: 0 auto;
position: absolute;
left: 0;
right: 0;
width: 10%;
top: 90px;
}
.update-data p:nth-child(2), .rada-date p:nth-child(2){
color: #949393;
}
#first-block [class*="col-12"]{
padding: 50px 0 50px 0;
}
.team, .how-help{
background-color: #F5F5F5;
}
</style>
<div id="first-block" class="container">

  <div class="col-12 about">
    <h1 class="text-uppercase center-justified">Про проект</h1>

    <div>

    </div>

  </div>

  <div class="col-12 team">
    <h2 class="text-uppercase center-justified">Команда</h2>


  </div>

  <div class="col-12 partners">
    <h2 class="text-uppercase center-justified">Партнери</h2>

    <div>текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст</div>

  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified">Як допомогти</h2>

    <div>текст</div>

  </div>



</div>

