// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "heder";
/*------------------*/
#first-block h1{
  color: #252525;
  font-size:24px;
  line-height: 24px;
  font-family: GothaProBol;
}
#first-block h2 {
  font-family: GothaProMed;
  font-size: 18px;
  line-height:18px;
}
#first-block h2::before{
  border-top: 4px solid #000;
  content: "";
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 10%;
  top: 90px;
}
.update-data p:nth-child(2), .rada-date p:nth-child(2){
  color: #949393;
}
#first-block [class*="col-12"]{
  padding: 50px 0 50px 0;
}
.team, .how-help{
  background-color: #F5F5F5;
}
/*------------------*/