/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.index-pagination {
    text-align: center;
}
.content {
    min-height: 900px;
}
.list-filters {
    margin-bottom: 2em;
}
.list-sorter {
    float: right;
    clear: right;
}
.object-secondary {
    text-transform: uppercase;
    float: right;
    clear: right;
}
.object-primary {
    float: left;
    clear: left;
}
.division-outcome:before  {
    content: "\00a0\2192\00a0";
    color: #444444;
    font-weight: bold;
}
.member-attendance {
    padding-left: 1em;
}
.head-mp {
    margin-top: 2em !important;
}
.jumbotron.footer{
    margin-bottom: 0 !important;
}
.about .navlink-about
{
    color:#fff;
    cursor:default;
    background-color:#eee;
    border:1px solid #ddd;
    border-bottom-color:transparent
}

.about .navlink-about :hover,
.about .navlink-about :focus
{
    color:#fff;
    cursor:default;
    background-color:#eee;
    border:1px solid #ddd;
    border-bottom-color:transparent
}
nav.navbar {
    margin-bottom: 0 !important;
}
p.lead {
    margin: 10px 0 10px !important;
}
.list-group-item {
    border: none !important;
    border-top: 1px solid #ddd !important;
}
.bottom {
    min-height: 5em;
}
.rebel, .no_passed {
    color: #c64e39;
}
.passed {
   color: #308a28;
}
.cell-vote {
    text-align: center;
}