header{
  background: none;
  background-color: #000;
  height: 42px;
  min-height: auto;
}
#logo p{
  color: #000;
}
#logo .first-word{
  color: #009FE2;
}
#navbarCollapse{
  background-color: #000;
}
.navbar-inverse .navbar-nav .nav-link{
  line-height: 28px;
  font-size: 14px;
  height: 3.51%;
}
.navbar {
  padding: 0 0 0 15rem;
}
#first-block .notfound h1{
  color: #252525;
  font-size:24px;
  line-height: 24px;
  font-family: GothaProBol;
}
#first-block h1, #divisionshow h1{
  color: #252525;
  font-size:24px;
  line-height: 24px;
  font-family: GothaProBol;
  margin-bottom: 50px;
}
.fa-inverse {
  color: #E5E5E5;
  font-size: 12px;
}
.update-data p:nth-child(2), .rada-date p:nth-child(2){
  color: #949393;
}
/*депутати і голосування*/
#search-main input[type="text"] {
  background-color: #F5F5F5;
  margin-bottom: 80px;
}
#search-main .fa-stack{
top: 10px;
}
#search-main .fa-inverse{
  color:#282828;
 /* top: -13px;*/
}
/*#search-main .arrow-icon{
  top: 65px;
}*/
/*#search-main{
  margin: 50px 0 80px 0;
}*/

/*ползунок - Депутати - Голосування*/

.list-filters{
  margin-bottom: 85px;
}

ul li, ul span li {
  font-family: GothaProReg;
}
ul.sort-first{
  margin-bottom: 35px;
  height: 24px;
}
ul.sort-first li{
  display: inline;
  list-style: none;
  margin-right: 40px;
  font-size: 11px;
  line-height: 11px;
  font-weight: 300;
  padding-bottom: 8px;
}

ul.sort-first li{
  float: left;
}
.sort-first .dropdown > a:hover, .sort-first .dropdown.show > a, .sort-first .dropdown.show ul.dropdown-menu li a{
  font-family: GothaProBol;
  color: #292b2c;
}
ul.dropdown-menu{
  padding: 0;
}
.sort-first .dropdown.show ul.dropdown-menu li{
  font-family: GothaProBol;
  color: #292b2c;
  width: 100%;
  padding: 10px 0 10px 10px;
}
.sort-first .dropdown.show ul.dropdown-menu li:hover {
  background-color: #ccc;
}
ul li a{
  color: #4A4A4A;
}
ul li a:hover{
  text-decoration: none;
}
ul.sort-first li.disabled {
  font-weight: 500;
  border-bottom: 3px solid #009FE2;
  font-family: GothaProBol;
}
ul.sort-name{
  margin-bottom: 75px;
}
ul.sort-name li, ul.sort-distric li{
  display: inline;
  list-style: none;
  font-size: 14px;
  line-height: 14px;
  margin-right: 30px;
}
.active-fon-circle{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 11px 13px;
  font-size: 14px;
  background: #009FE2;
  text-align: center;
}
.active-fon-circle a {
  color: #fff;
}
ul.sort-fraction li{
  display: inline;
  list-style: none;
  font-size: 11px;
  margin-right: 65px;
}
.active-fon-fraction{
  border-radius: 12px;
  width: 100%;
  height: 25px;
  padding: 7px 13px;
  background: #009FE2;
  text-align: center;
}
.active-fon-fraction a {
  color: #fff;
}
ul.sort-distric li{
  margin-right: 20px;
}
.sort-distric .active-fon-circle{
  width: 25px;
  height: 25px;
  padding: 5px 10px;
}

#slider-range{
  margin-bottom: 85px;
}
#slider-range label {
  position: absolute;;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
  cursor: pointer;
  top: -23px;
  background-color: #E5E5E5;
  border-radius: 50%;
  width: 6px;
  content: "";
  height: 6px;
}
#slider-range.ui-widget.ui-widget-content{
  height: 2px ;
  border-color: #E5E5E5;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}
#slider-range .ui-state-default, .ui-widget-content .ui-state-default{
  height: 12px;
  width: 12px;
  background-color: #009FE2;
  border-radius: 50%;
  border: none;
  top: -6px;
  cursor: pointer;
}
#slider-range  .ui-widget-header{
  height: 4px;
  background-color: #009FE2;
  top: -2px;
}
ul.social li{
  display: inline;
  list-style: none;
  margin-right: 40px;
  font-size: 11px;
  line-height: 11px;
  font-weight: 300;
  padding-bottom: 8px;
  color: #949393;
}
ul.social li a{
  color: #949393;
}
ul.sort-month{
  width:175px;
  overflow:hidden;
  padding: 0;
  margin:20px 0;
}
ul.sort-month li{
  line-height:1.5em;
  float:left;
  display:inline;
}

#calendar .ui-state-default, .ui-widget-content .ui-state-default{
  height: 24px;
  width: 24px;
  font-size: 12px;
}
#calendar .ui-datepicker td span, .ui-datepicker td a{
  padding: 4px 5px;
}
