// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width:991px){
  .navbar-collapse {
    position: absolute;
    background: black;
    width: 100%;
    left: 0px;
    top: 84px;
    z-index: 1;
  }
}
#navbarCollapse {
  justify-content: space-between;
}
div.img {
  padding-bottom: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: top center;
  margin: 35px 0;
}