// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "heder";

    /*у форми class="col-8 form-inline mt-2 mt-md-0 push-2"

    ВИДАЛИТИ mt-2 mt-md-0*/



.list-filters{
  margin-bottom: 85px;
}
