/*700 bold*/
@font-face {
    font-family: GothaProBol;
    src: url('GothamProBold/GothamProBold.eot'); /* IE9 Compat Modes */
    src: url('GothamProBold/GothamProBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProBold/GothamProBold.woff') format('woff'), /* Modern Browsers */
    url('GothamProBold/GothamProBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: GothaProLight;
    src: url('GothamProLight/GothamProLight.eot'); /* IE9 Compat Modes */
    src: url('GothamProLight/GothamProLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProLight/GothamProLight.woff') format('woff'), /* Modern Browsers */
    url('GothamProLight/GothamProLight.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: italic;}
@font-face {
    font-family: GothaProIta;
    src: url('GothamProLightItalic/GothamProLightItalic.eot'); /* IE9 Compat Modes */
    src: url('GothamProLightItalic/GothamProLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProLightItalic/GothamProLightItalic.woff') format('woff'), /* Modern Browsers */
    url('GothamProLightItalic/GothamProLightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: italic;}
/*500 medium*/
@font-face {
    font-family: GothaProMed;
    src: url('GothamProMedium/GothamProMedium.eot'); /* IE9 Compat Modes */
    src: url('GothamProMedium/GothamProMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProMedium/GothamProMedium.woff') format('woff'), /* Modern Browsers */
    url('fonts/GothamProMedium.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;}
/*300 normal*/
@font-face {
    font-family: GothaProReg;
    src: url('GothamProRegular/GothamProRegular.eot'); /* IE9 Compat Modes */
    src: url('GothamProRegular/GothamProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProRegular/GothamProRegular.woff') format('woff'), /* Modern Browsers */
    url('GothamProRegular/GothamProRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;}
/*html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}*/
body{
    font-family: GothaProReg;
}
.center-justified {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
}
.text-xs-center {
    text-align: center !important;
}
.hide{
    display: none;
}
header{
    background: url(fon_home.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    /*background-color: rgba(40,40,40,0.6);*/
    color:#fff;
    margin-bottom: 75px;
    box-shadow:0 0 0 508px rgba(0, 0, 0, 0.33) inset;

}
.logo p{
    height: 20px;
    color: #fff;
    font-family: GothaProBol;
    font-size: 20px;
    line-height: 20px;
    padding-top: 7px;
}
.logo .first-word, .logo i, #search-main .fa.fa-circle, #info .fa.fa-circle, .fa.fa-arrow-circle-right{
    color: #009FE2;
}
.logo i{
    position: relative;
    width: 30px;
}
/*#navbarCollapse{
    padding-top: .25rem;
}*/
.navbar-nav > li.span {
    padding-top: 0.5rem;
}
.navbar-nav > li  {
    padding-left: 49px !important;
}
.navbar-nav > li > a{
    line-height: 28px;
    font-size: 14px;
    color: #fff!important;
}
@media (min-width: 768px) {
    .navbar-nav > li > a.reg-link {
        padding-left: 7px !important;
    }
}

.navbar{
    padding: 1.5rem 1rem;
}
#info{
    padding-bottom: 4.5rem;
}
#info p{
    margin-bottom: 5px;
}
#info .update-data, #info .rada-date{
    font-family: GothaProReg;
    font-size: 10px;
    line-height: 10px;
    /*width: 110px;*/
    height: 10px;

}
#info  .fa-stack {
    float: left;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-right: 10px;
}
#info div > div :nth-child(3){
    font-family: GothaProMed;
    height: 12px;
    /*width: 117px;*/
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}
.text-q{
    font-family: GothaProBol;
    margin-bottom: 2em;
    height: 68px;
    /*width: 598px;*/
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
#search-main input[type="text"], .bootstrap-select > .dropdown-toggle.bs-placeholder {
    border: none;
    padding: 11px 15px 10px 65px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    color: #282828;
    background-color: #fff;
    font-family:GothaProReg;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 28px;
}

#search-main .arrow-icon{
    color:#000;
    position: absolute;
    right: 40px;
    top:20px;
}
#search-main .fa-stack{
    position: absolute;
    margin-left: 10px;
}
.button-search input[type=button] {
    font-family: GothaProReg;
    font-size: 14px;
    line-height: 21px;
    padding: 11px 15px 7px 35px;
    background-color: Transparent;
    border:none;
    cursor:pointer;
    color: #fff;
    /* overflow: hidden;
     outline:none;*/
}
.button-search .fa.fa-search{
    color: #fff;
    position: absolute;
    padding: 10px;
    font-size: 13px;
}
.btn-primary:focus,.btn:focus{
    box-shadow: none;
}
#ModalSearch p{
    color: #000;
    font-family: GothaProBol;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}
.modal-dialog{
    max-width: 80%;
}
.modal-content{
    border-radius: 0;
}
.modal-header, .modal-footer{
    border:none;
}
#ModalSearch button.close > span{
    font-size: 38px;
    font-weight: 300;
    line-height: 1;
    color: #282828;
}
.modal-body{
    padding: 0 140px;
    margin-bottom: 300px;
}
.modal-body span{
    color: #009FE2;
    font-size: 24px;
    line-height: 57px;
    padding-bottom: 75px;
    display: block;
}
.modal-body input{
    border: none;
    width: 100%;
    height: 57px;
    font-size: 48px;
    line-height: 57px!important;
    margin-bottom: 25px;
}
.modal-body input::placeholder{
    color: #949393;
    font-size: 48px;
    line-height: 57px;
}
/*
#search-top input[type="text"]{
    background: transparent;
    color: #fff;
    border: none;
    padding: 6px 15px 6px 35px;
    font-size: 14px;
    line-height: 21px;
    font-family: GothaProReg;
}
#search-top input::placeholder{
    color: #fff;
}
#search-top .fa.fa-search{
    color: #fff;
    position: absolute;
    padding: 15px;
    font-size: 13px;
}
*/
.fa.fa-check-circle{
    color:#88B04B;
    font-size: 28px;
}

.fa.fa-times-circle{
    color:#FE6162;
    font-size: 28px;
}
.no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#first-block{
    margin-bottom: 50px;
}
#first-block h3, #second-block h3{
    color: #282828;
    font-family: GothaProMed;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 5rem;
}
#first-block h4, #second-block h4, .index-pagination h4{
    height: 18px;
    color: #4A4A4A;
    font-family: GothaProMed;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 50px;
}
#first-block h4 > i , #second-block h4 > i{
    font-size: 18px;
    margin-left: 11px;
}
h3.background-line {
    position: relative;
    z-index: 1;
}
#divisionshow h2::after, #first-block h2::after, .col h2::after, .background-line:after {
    border-top: 4px solid #000;
    content:"";
    width: 10%;
    margin: 22px auto;
    display:block;
}
#list_division [class*="row"]{
    margin: 25px 0 0 0;
}
#list_division [class*="row"]{
    margin: 25px 0 0 0;
}
#first-block .card{
    min-height: 297px;
    padding: 25px;
}
.card{
    outline: 1px solid rgba(0,0,0,.125);
    border: 3px solid transparent;
}
.card:hover {
    outline: 0px solid transparent;
    border: 3px solid #009FE2;
    border-radius: 4px;
    text-decoration: none;
}
.card a, .card a:hover{
    text-decoration: unset;
}
.check {
    padding: 15px;
}
.check > div:nth-child(2){
    border-left: 1px solid #D8D8D8;
    padding-left: 40px;
    height: 45px;
}
.approve {
    color: #282828;
    font-family: GothaProMed;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px!important;
}
.card p{
    margin: 0;
    line-height: 22px;
}
.card i{
    float: left;
    margin-right: 14px;
    margin-bottom: 20px;
}
.card-date {
    color: #949393;
    font-family: GothaProReg;
    font-size: 12px;
    line-height: 12px;
    /*width: 108px;*/
    margin-bottom: 20px !important;
}
.card-text {
    color: #282828;
    font-family: GothaProMed;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 37px;
    padding-left: 25px;

}
.card-text p::first-letter { text-transform: capitalize !important; }
.checkin {
    color: #949393;
    font-family: GothaProReg;
    font-size: 10px;
    line-height: 10px;
}
.card-percent {
    color: #252525;
    font-family: GothaProMed;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    width: 122px;;
}
#second-block{
    padding-top: 50px;
    padding-bottom: 85px;
    background-color: #F5F5F5;
}
#second-block .check{
    padding-left: 0;
}
.card-name{
    color: #282828;
    font-family: GothaProMed;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 40px;
}
.card-photo{
    height: 100px;
    width: 100px;
    margin: 35px 0;
    clip-path: circle(50px at center);
    border-radius: 50px;
}
.card-fraction {
    color: #4A4A4A;
    font-family: GothaProReg;
    font-size: 14px;
    line-height: 16px;
    padding-top: 6px;
}
.card-elected {
    color: #4A4A4A;
    font-family: GothaProReg;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    padding-top: 12px;
    padding-bottom: 27px;
}
footer{
    background-color: #000;
    color:#D4D6D9;
    min-height: 190px;
    border-top: 15px solid #949393;
}
footer a{
    color: #D4D6D9;
}
footer span{
    font-size:12px;
    line-height:14px;
}
footer .fa-inverse{
    font-size:  26px;

}
footer .title{
    /*text-transform: capitalize;*/
    font-family: GothaProReg;
    font-size: 14px;
    line-height: 20px;
    padding-top: 16px;
    color:#fff;
}
footer div [class*="row"] p a{
    color: #D4D6D9;
    font-size: 11px;
    line-height: 11px;
    height: 11px;
    width: 20px;
}
/*footer > div [class*="row"]{
    padding-top: 40px;
}*/
footer > div [class*="row"] p{
    color: #D4D6D9;
    font-family: GothaProReg;
    font-size: 12px;
    line-height: 14px;
}
/*footer > div [class*="row"] span {
    height: 40px;
    width: 40px;
}*/
footer span+span{
    margin-left: 16.666667%;
}
/*.dropdown-toggle.btn-default {*/
/*color: #292b2c;*/
/*background-color: #fff;*/
/*border-color: #ccc;*/
/*}*/

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
    display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.dropdown-menu > li.active > a {
    color: #fff !important;
    background-color: #337ab7 !important;
}

.bootstrap-select .check-mark::after {
    content: "✓";
}

.bootstrap-select button {
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline !important;
}
/* TODO; Дописав клас для слайдера фільтра поправ що там треба */
.custom-handle {
    position: absolute;
    top: -30px;
}

.chevron{
    font-size: 15px;
}
.panel-heading .chevron:after {
    content: "\f077";

}
.panel-heading a.collapsed .chevron:after {
    content: "\f078";
}
#first-block [class*="row"] + [class*="row"], #second-block [class*="row"] + [class*="row"] {
    /*margin: 0 0 0 0;*/
    margin-top: 25px;
}
#png_div {
    background-color: white;
}
.alert {
    margin-bottom: 0 !important;
}
.alert-dismissible .close {
    top: -3rem !important;
}
footer {
    margin-top: 30px;
}

#forkongithub a {
    background:#000;
    color:#fff;
    text-decoration:none;
    font-family:arial, sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 5px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
}
#forkongithub a:hover{
    background:#c11;
    color:#fff;
}
#forkongithub a::before,
#forkongithub a::after{
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:43px;
    left:0;
    height:1px;
    background:#fff;
}
#forkongithub a::after{
    bottom:1px;
    top:0px;
}
@media screen and (min-width:800px){
    #forkongithub{
        position:relative;
        /*display:block;*/
        top:60px;
        right:0;
        width:100px;
        overflow:hidden;
        height:200px;
        z-index:1;}
    #forkongithub a{
        width:500px;
        position:absolute;
        top:85px;
        right:-360px;
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
}

#forkongithub a {
    background:#919992;
    color:#fff;
    text-decoration:none;
    font-family:arial, sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 5px;
    font-size:1rem;
    line-height:2rem;
    position:relative;
    transition:0.5s;
}
#forkongithub a:hover{
    background:#c11;
    color:#fff;
}
#forkongithub a::before,
#forkongithub a::after{
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:43px;
    left:0;
    height:1px;
    background:#fff;
}
#forkongithub a::after{
    bottom:1px;
    top:0px;
}
@media screen and (min-width:800px){
    #forkongithub{
        position:relative;
        /*display:block;*/
        top:60px;
        right:0;
        width:100px;
        overflow:hidden;
        height:200px;
        z-index:1;}
    #forkongithub a{
        width:440px;
        position:absolute;
        top:40px;
        right:-360px;
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
}
.radial-progress__text {
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
.panel-search {
    margin-bottom: 25px;
}