/*700 bold*/
@font-face {
    font-family: GothaProBol;
    /*src: url(../fonts/GothaProBol.otf);*/

    src: url('GothamProBold/GothamProBold.eot'); /* IE9 Compat Modes */
    src: url('GothamProBold/GothamProBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProBold/GothamProBold.woff') format('woff'), /* Modern Browsers */
    url('GothamProBold/GothamProBold.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: GothaProLight;
    /*src: url(../fonts/GothaProIta.otf);*/

    src: url('GothamProLight/GothamProLight.eot'); /* IE9 Compat Modes */
    src: url('GothamProLight/GothamProLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProLight/GothamProLight.woff') format('woff'), /* Modern Browsers */
    url('GothamProLight/GothamProLight.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: 300;
    font-style: italic;}
@font-face {
    font-family: GothaProIta;
    /*src: url(../fonts/GothaProIta.otf);*/

    src: url('GothamProLightItalic/GothamProLightItalic.eot'); /* IE9 Compat Modes */
    src: url('GothamProLightItalic/GothamProLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProLightItalic/GothamProLightItalic.woff') format('woff'), /* Modern Browsers */
    url('GothamProLightItalic/GothamProLightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: 300;
    font-style: italic;}
/*500 medium*/
@font-face {
    font-family: GothaProMed;
    /*src: url(../fonts/GothaProMed.otf);*/

    src: url('GothamProMedium/GothamProMedium.eot'); /* IE9 Compat Modes */
    src: url('GothamProMedium/GothamProMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProMedium/GothamProMedium.woff') format('woff'), /* Modern Browsers */
    url('fonts/GothamProMedium.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: 500;
    font-style: normal;}
/*300 normal*/
@font-face {
    font-family: GothaProReg;
    /*src: url(../fonts/GothaProReg.otf);*/

    src: url('GothamProRegular/GothamProRegular.eot'); /* IE9 Compat Modes */
    src: url('GothamProRegular/GothamProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('GothamProRegular/GothamProRegular.woff') format('woff'), /* Modern Browsers */
    url('GothamProRegular/GothamProRegular.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-weight: 300;
    font-style: normal;}


/*@font-face { font-family: GothaProBla; src: url(../fonts/GothaProBla.otf);}
@font-face { font-family: GothaProBlaIta; src: url(../fonts/GothaProBlaIta.otf);  }
@font-face { font-family: GothaProBolIta; src: url(../fonts/GothaProBolIta.otf);}
@font-face {    font-family: GothaProLig;
    src: url(../fonts/GothaProLig.otf);
    font-weight: 300;
    font-style: normal;}
@font-face {
    font-family: GothaProLigIta;
    src: url(../fonts/GothaProLigIta.otf);
    font-weight: 300;
    font-style: normal;}
@font-face { font-family: GothaProMedIta; src: url(../fonts/GothaProMedIta.otf);}
@font-face { font-family: GothaProNarBol; src: url(../fonts/GothaProNarBol.otf);}
@font-face { font-family: GothaProNarMed; src: url(../fonts/GothaProNarMed.otf);}*/

body{
    font-family: GothaProReg;
}
.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
header{
    background: url(fon_home.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    /*background-color: rgba(40,40,40,0.6);*/
    color:#fff;
    margin-bottom: 75px;
}
.logo p{
    height: 20px;
    color: #fff;
    font-family: GothaProBol;
    font-size: 20px;
    line-height: 20px;
    padding-top: 7px;
}
.logo .first-word, .logo i, #search-main .fa.fa-circle, #info .fa.fa-circle, .fa.fa-arrow-circle-right{
    color: #009FE2;
}
.logo i{
    position: relative;
    width: 30px;
}
/*#navbarCollapse{
    padding-top: .25rem;
}*/
.navbar-nav > li > a{
    padding-left: 49px !important;
    line-height: 28px;
    font-size: 14px;
    color: #fff!important;
}
.navbar{
    padding: 1.5rem 1rem;
}
#info{
    padding-bottom: 4.5rem;
}
#info p{
    margin-bottom: 5px;
}
#info .update-data, #info .rada-date{
    font-family: GothaProReg;
    font-size: 10px;
    line-height: 10px;
    /*width: 110px;*/
    height: 10px;

}
#info  .fa-stack {
    float: left;
    padding-bottom: 20px;
    /*margin-bottom: 40px;*/
    margin-right: 10px;
}

#info div > div :nth-child(3){
    font-family: GothaProMed;
    height: 12px;
    /*width: 117px;*/
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}
.text-q{
    font-family: GothaProBol;
    margin-bottom: 2em;
    height: 68px;
    /*width: 598px;*/
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
#search-main input[type="text"] {
    border: none;
    padding: 11px 15px 10px 65px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    color: #282828;
    font-family: GothaProIta;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 28px;
}

#search-main .arrow-icon{
    color:#000;
    position: absolute;
    right: 40px;
    top:20px;
}
#search-main .fa-stack{
    position: absolute;
    margin-left: 10px;
}
.button-search input[type=button] {
    font-family: GothaProReg;
    font-size: 14px;
    line-height: 21px;
    padding: 6px 15px 6px 35px;
    background-color: Transparent;
    border:none;
    cursor:pointer;
    color: #fff;
    /* overflow: hidden;
     outline:none;*/
}
.button-search .fa.fa-search{
    color: #fff;
    position: absolute;
    padding: 10px;
    font-size: 13px;
}
/*
#search-top input[type="text"]{
    background: transparent;
    color: #fff;
    border: none;
    padding: 6px 15px 6px 35px;
    font-size: 14px;
    line-height: 21px;
    font-family: GothaProReg;
}
#search-top input::placeholder{
    color: #fff;
}
#search-top .fa.fa-search{
    color: #fff;
    position: absolute;
    padding: 15px;
    font-size: 13px;
}
*/
.fa.fa-check-circle{
    color:#88B04B;
}

.fa.fa-times-circle{
    color:#FE6162;
}
.no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#first-block{
    margin-bottom: 50px;
}
#first-block h3, #second-block h3{
    color: #282828;
    font-family: GothaProMed;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 5rem;
}
#first-block h4, #second-block h4{
    height: 18px;
    color: #4A4A4A;
    font-family: GothaProMed;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 50px;
}
#first-block h4 > i , #second-block h4 > i{
    font-size: 18px;
    margin-left: 11px;
}
h3.background-line {
    position: relative;
    z-index: 1;
}
h3.background-line:before {
    border-top: 4px solid #000;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 180%; left: 0; right: 0; bottom: 0;
    width: 10%;
    z-index: -1;
}
#first-block [class*="row"] + [class*="row"], #second-block [class*="row"] + [class*="row"]{
    margin-top: 25px;
}
#first-block .card{
    min-height: 279px;
    padding: 25px;
}
.card:hover {
    border: 3px solid #009FE2;
    border-radius: 4px;
}
.card a{
    text-decoration: unset;
}
.check {
    padding: 15px;
}
.check > div:nth-child(2){
    border-left: 1px solid #D8D8D8;
}
.approve {
    color: #282828;
    font-family: GothaProMed;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
}
.card p{
    margin: 0;
}
.card i{
    float: left;
    margin-right: 14px;
    margin-bottom: 20px;

}
.card-date {
    color: #949393;
    font-family: GothaProReg;
    font-size: 12px;
    line-height: 12px;
    width: 108px;
    margin-bottom: 20px !important;
}
.card-text {
    color: #282828;
    font-family: GothaProMed;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 37px;
}
.card-text p::first-letter { text-transform: capitalize !important; }
.checkin {
    color: #949393;
    font-family: GothaProReg;
    font-size: 10px;
    line-height: 10px;
}
.card-percent {
    color: #252525;
    font-family: GothaProMed;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    width: 106px;
}
#second-block{
    padding-top: 50px;
    padding-bottom: 85px;
    background-color: #F5F5F5;
}
#second-block .check{
    padding-left: 0;
}
.card-name{
    color: #282828;
    font-family: GothaProMed;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 40px;
}
.card-photo{
    height: 100px;
    width: 100px;
    margin: 35px 0;
    clip-path: circle(50px at center);
}
.card-fraction {
    color: #4A4A4A;
    font-family: GothaProReg;
    font-size: 14px;
    line-height: 16px;
}
.card-elected {
    color: #4A4A4A;
    font-family: GothaProReg;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
}
footer{
    background-color: #000;
    color:#D4D6D9;
    height: 190px;
}
footer {
    border-top: 15px solid #949393;
}
footer .title{
    text-transform: capitalize;
    font-family: GothaProReg;
    font-size: 14px;
    line-height: 20px;
    padding-top: 16px;
    color:#fff;
}
footer div [class*="row"] p a{
    color: #D4D6D9;
    font-size: 11px;
    line-height: 11px;
    height: 11px;
    width: 20px;
}
footer > div [class*="row"]{
    padding-top: 40px;
}
footer > div [class*="row"] p{
    height: 42px;
    width: 228px;
    color: #D4D6D9;
    font-family: GothaProReg;
    font-size: 12px;
    line-height: 14px;
}
footer > div [class*="row"] span {
    height: 40px;
    width: 40px;
}
footer span+span{
    margin-left: 16.666667%;
}