// Place all the styles related to the sumisne_holosuvannia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "heder";

.col h2{
    color: #282828;
    font-family: GothaProMed;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}
#graph{
  width:80%;
  height: 300px;
  margin: 30px auto 120px auto;
}