<p>Ласкаво просимо, <%= @email %>!</p>

<p>Ви можете підтвердити свій акаунт клікнувши по лінку нижче:</p>

<p><%= link_to 'Підвердити мій акаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
