<p>Вітаємо, <%= @resource.email %>!</p>

<p>Хтось вирішив відновити ваш пароль. Ви можете зробити це за лінком нижче</p>

<p><%= link_to 'Відновити пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо ви не просили відновити ваш пароль, просто ігноруйте цей імейл.</p>
<p>Ваш пароль не зміниться, якщо ви не перейдете за лінком.</p>
