@import "heder";

#user_user_name,
input[type="email"],
input[type="password"] {
  height: 50px;
  width: 500px;
  border-radius: 4px!important;
  border: 0!important;
  background-color: #F5F5F5;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
}
input[type="submit"] {
  height: 25px;
  width: 126px;
  border-radius: 12px;
  border: 0!important;
  background-color: #009FE2;
  color: #FFFFFF;
  //font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  margin-right: 39px;
}
.actions {
  margin-bottom: 80px;
  margin-top: 32px;
}
.actions button {
  height: 25px;
  width: 85px;
  background-color: white;
  border: 1px solid #009FE2;
  border-radius: 12px;
  color: #009FE2;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
}