<% content_for :title, "Сумісне Голосуванн — Як Голосує Твій Депутат?" %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Сумісне Голосування</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <p>Find me in app/views/sumisne_holosuvannia/init.html.erb</p>
    <%= link_to 'API', sumisne_holosuvannia_api_path %>
  </div>
</div>