<div class="row">
  <% mps.each do |mp| %>
      <%= link_to show_people_path(mp.mp.url_name), class: "" do %>
      <div class="card-mp">
          <img  src="/image/<%= mp.mp.deputy_id %>.png" alt="<%=  mp.mp.full_name  %>">
          <p><%=mp.mp.full_name %></p>
      </div>
         <% end %>

  <% end %>
</div>
