<% content_for :title, "Редагувати політику — Як Голосує Твій Депутат?" %>

<div id="first-block" class="container people">
  <h1 class="text-uppercase center-justified text-xs-center">Редагувати політику</h1>
</div>

<div class="container">
  <div id="policy">
    <%= render('edit') %>
  </div>


</div>



<%#= link_to 'Show', @policy %> 
<%#= link_to 'Back', policies_path %>
