<% content_for :title, "Створити нову політику — Як Голосує Твій Депутат?" %>

<div id="divisionshow" class="container">
  <h1 class="text-uppercase center-justified text-xs-center">Створити нову політику</h1>
</div>
<div class="container-fluid team">
  <div class="container">
    <p>Додай нову політику, написавши два твердження.
      Пиши опис просто, щоб можна було легко зрозуміти, а також політично незаангажовано
    </p>
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <strong>Корисні поради щодо створення політик</strong>
    </a>
    <div class="collapse" id="collapseExample">

      <strong>Пиши так, щоб було якомога менше інтерпретацій.</strong>
      <p>“За здорових дітей” - поганий приклад для опису політики, тому що потрібно специфікувати голосування, які відносяться до неї. А це опис дуже загальний. “За підвищення рівня фінансування вищих навчальних закладів” - хороший приклад, тому що легко зорієнтуватись, як голосував депутат.</p>

      <strong>Групуй правильно.</strong>
      <p>Ціль створення політики — це зібрати в одному місці всі голосування по темі. Але якщо потрібно (інший аспект або ситуація), то можна її розділити, або ж, навпаки, одне голосування може бути в кількох політиках.</p>

      <strong>Не повторюйся.</strong>
      <p>Перевіряй сторінку політики, щоб побачити, які вже політики існують. Якщо ж голосування проти політики, то не потрібно створювати нову. Просто можна підв'язати відповідні голосування, зазначивши, чи це в підтримку чи проти політики.</p>

      <strong>Перевір, чи відповідне голосування існує.</strong>
      <p>Кожна політика має мати голосування, які вже розглядались міською радою. Тобто, якщо існує голосування, але
        воно ще не було на розгляді (за включення його в порядок денний, за нього не голосували), то його не можна
        підв'язати до політики.</p>

      <strong>Не соромся.</strong>
      <p>Ці політики належать всім. Якщо ти думаєш, що політика неправильно сформована, або ж не ті голосування
        підв'язані, виправ це.</p>
    </div>

  </div>

</div>
<div class="container">

<%= render 'form', policy: @policy %>


</div>
